.items {
  background-color: rgb(15, 15, 15);
  border-radius: 20px;
  width: 49%;
  /* height: 0px; */
  margin-left: 20px;

  margin-top: 10px;
  display: flex;
  margin-top: 100px;
}
.cartmargin {
  margin-top: 50px;
}
.cartimg {
  height: 180px;
  border-radius: 15px;
}
.icon {
  margin-left: 265px;
  margin-top: 15px;
}
.title {
  font-size: 45px;
  margin-top: 7px;
}
.cheight {
  height: 180px;
  background-color: rgb(10, 10, 10);
  box-shadow: none;
  margin-top: 10px;
  margin-bottom: 20px;
}
.margint {
  margin-top: 0px;
}
.block {
  display: block;
}
.bet {
  display: flex;
  justify-content: space-between;
  width: 460px;
}

footer {
  height: 100px;
  width: 49%;
  position: fixed;
  bottom: 0px;
  left: 20px;
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 0px 10px 5px rgba(32, 31, 31, 0.2);
}
.placeorder {
  color: white;
  margin-top: 20px;
  margin-left: 450px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  background-color: rgb(161, 37, 37);

  border-radius: 12px;
  transition-duration: 300ms;
}
.placeorder:hover {
  background-color: rgb(219, 21, 21);
}
.new {
  color: white;
  transition-duration: 300ms;
}
.new:hover {
  color: rgb(215, 29, 29);
}

.divide {
  display: flex;
  background-color: green;
}

.bill {
  height: 300px;
  background-color: yellow;
}
.priceTag {
  font-weight: 600;
  font-size: 30px;
  padding-top: 20px;
}

.last {
  margin-top: 90px;
  display: flex;
  /* background-color: white; */
}
.groo {
  /* background-color: rgb(0, 128, 0); */
  display: block;
  height: 200px;
  width: 700px;
}
.gorooo {
  height: 100%;
  width: 600px;
  margin-top: 40px;
  background-color: rgb(11, 11, 11);
  border-radius: 10px;
}
.headPrice {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.heading {
  font-size: 17px;
  margin-right: 70px;
  margin-top: 17px;
  color: rgb(84, 84, 84);
  font-weight: 200;
}
.total {
  color: white;
  font-size: 19px;
}
.change {
  border: none;
  height: 90px;
}
.text {
  padding-top: 0px;
  padding: 0px 30px;
  font-weight: 500;
}
.text:hover {
  font-size: 13px;
}
.colorc {
  color: white;
}
